@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url("https://lib.arvancloud.ir/.../Vazirmatn-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
body, #root {
  background-color: #054e60;
}
